{% extends "layout.html" %}
{% block content %}
<center>
<h2 style = 'color: white;'>Abstract</h2>
<p style = "color: white; font-size: 20px; max-width: 70ch;">Do you hate dealing with 404 
    errors and want to waste some of your life? 
    This website offers you the oppertunity to beat 
    up the 404 page with its boss as a revenege for all the times
    you encountered the error message "404, page not found". </p>


<br><br>
<h2 style = 'color: white;'>How to use</h2>
<p style = "color: white; font-size: 20px; max-width: 70ch;">
    The play button on the home screen leads you to the boss battle 
    and so does any url that doesnt exist on the website 
    (so you could do something like "/dsafghfsaf" and it will still 
    lead you to the game page).
    <br><br>
    The Statistics page holds the leaderboard where you can search 
    and see players and their achievemnts / ranks (names are found
     at the bottom of the page). 
    <br><br>
    If you clikc the account button at the top, you be lead to
    you profile page where you can customize your profile picture
    and see you own statistics.

</p>
<br><br>
<h2 style = 'color: white;'>The Game</h2>
<p style = "color: white; font-size: 20px; max-width: 70ch;">
    The game on the website is a 'bullet-hell' genre style of game
    where you have a small blob that has to avoid incoming obsticals.
    <br><br>
    The game forces you to use 'wasd' to move the blob and move 
    your mouse to avoid homing missiles. You can tell if your character
    loses health when the color on the blob and mouse turn more red.
    <br><br>
    Boss hp bar located at the top. click on the boss to lower its health
    and unlock its stages which increse in difficulty.

</p>

</center>
{% endblock %}