{% extends "layout.html" %}
{% block content %}
<script src = "{{ url_for('static', filename='javascript/sql_table.js') }}"></script>
<link href = "{{ url_for('static', filename='css/statistics.css') }}" rel = 'stylesheet' type="text/css">

<center>
  <br>
SEARCH: <input onkeydown="search()" id = 'search' class = "search_bar" placeholder="search a name"> 
<button class = 'search_button' onclick = "search_name()">&#8981;</button>

<br><br><br>
<div class = "bordered_div">
<h1 style = "color: white; margin: 0px;">Filter By Medals</h1>
</div>
<br>
<div id = 'medals' class = "bordered_div">
<button class = "select_button" onclick = "select_button('Styrofoam', 'medal', 0)" id = "Styrofoam">Styrofoam</button>
<button class = "select_button" onclick = "select_button('Plastic', 'medal', 1)" id = "Plastic">Plastic</button>
<button class = "select_button" onclick = "select_button('Wood', 'medal', 2)" id = "Wood">Wood</button>
<button class = "select_button" onclick = "select_button('Iron', 'medal', 3)" id = "Iron">Iron</button>
<button class = "select_button" onclick = "select_button('Bronze', 'medal', 4)" id = "Bronze">Bronze</button>
<button class = "select_button" onclick = "select_button('Silver', 'medal', 5)" id = "Silver">Silver</button>
<button class = "select_button" onclick = "select_button('Gold', 'medal', 6)" id = "Gold">Gold</button>
<button class = "select_button" onclick = "select_button('Platinum', 'medal', 7)" id = "Platinum">Platinum</button>
<button class = "select_button" onclick = "select_button('Ruby', 'medal', 8)" id = "Ruby">Ruby</button>
<button class = "select_button" onclick = "select_button('Diamond', 'medal', 9)" id = "Diamond">Diamond</button>
<button class = "select_button" onclick = "select_button('Emerald', 'medal', 10)" id = "Emerald">Emerald</button>
<button class = "select_button" onclick = "select_button('Degenerate', 'medal', 11)" id = "Degenerate">Degenerate</button>
</div>

<br>
<div class = "bordered_div">
<h1 style = "color: white; margin: 0px;">Filter By Achievements</h1>
</div>
<br>
<div id = 'achievments'  class = "bordered_div">
<button class = "select_button" onclick = "select_button('Noob', 'achievement', 'Noob')" id = "Noob">Noob</button>
<button class = "select_button" onclick = "select_button('Starter', 'achievement', 'Starter')" id = "Starter">Starter</button>
<button class = "select_button" onclick = "select_button('Loser', 'achievement', 'Loser')" id = "Loser">Loser</button>
</div>
<br>
<div class = "bordered_div">
<h1 style = "color: white; margin: 0px;">Filter By Hit Amount</h1>
</div>
<br>
<div id = 'hits'  class = "bordered_div">

<br>
<div style = "display: flex;align-items: center; align-content: center;
    margin-left: 150px;">
<p class = 'range_p' id = 'min'>0</p>
<div class="range_container">
  <div class="sliders_control">
    <input id="maxs" type="range" value="100" min="0" max="100" onchange="update_slider(this.value, 'max')"/>
    <input id="mins" type="range" value="0" min="0" max="100" onchange="update_slider(this.value, 'min')"/>
  </div>
</div>
<p  class = 'range_p' id = 'max'>0</p>
</div>

</center>

<br>
<center>
<button class = 'filter' onclick = "search_for()">FILTER</button>
<br>
<br>
<div>
<table id = 'data_table' border = 1 cellspacing = 0>

</table>
</center>

<script src = "{{ url_for('static', filename='javascript/world_statistics.js') }}"></script>

</div>

{% endblock %}